/* Background */
body{
        background-color: bisque;
}

/* Profile pic */

img.profile{
        width: 80px;
        border-radius: 40px;
}

/* owner */

p.Owner{
        background-color: black;
        background-size: 59%;
        color: whitesmoke;
        position:relative;
        top: -70px;
        left: 95px;
}

/* Info and fonts */
div.c{
        font-style: oblique;
        font-size: 20px;
        background-color: #464;
}
div.d{
        font-style: oblique;
        font-size: 20px;
        background-color: #464;
}

div.e{
        font-style: oblique;
        font-weight: bold;
        font-size: 20px;
        background-color: #464;
}

/* About */

a.about{
        position:relative;
        left: 18px;
        top: -35px;
}
/* Div */

div.a{
        background-color: black;
}

/*Text*/
h1{
        color: white;
        background-color: black;
        font-style: italic;
        font-size: 45px;
        position:relative;
        top: -30px;
        width: 100%;
}

/* Background*/
body.b{
        width: 100%;
        background-color: #145;
}

button{
        background-color: cadetblue;
        outline-color: blanchedalmond;
        position:relative;
        left: -90px;
        top: 150px;
        border-width: 10px;
        border-color: mediumspringgreenred;
}
a.b{
        position:relative;
        top: -30px;
        left: 80px;
        
}